.page{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 76vh;
    align-items: center;
    justify-content: center;
}
.div{
    width: 25em;
    background-color: #151115;
    border-radius: 5px;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.input{
    height:25px;
    margin-top: 20px;
    border: 1px solid #f4523b;
    background-color: transparent;
    border-top-left-radius: 2px;
    color:white;
    border-bottom-left-radius: 2px;
    margin-bottom:20px
}

.input:focus {
    outline: none;
    color:black;
    background-color: rgb(255, 255, 255);
}

.bttn, .bttndis{
    height:28px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: transparent;
    border-width: 1px;
    margin-bottom:0px
}

.bttn{
    background-color:rgba(253, 69, 84, 0.911);
    color:white;
}

.bttndis{
    background-color:rgba(255, 83, 97, 0.459);
    color:rgba(255, 255, 255, 0.281);
}

.bttn:hover{
    cursor:pointer;
    background-color: whitesmoke;
    color:black;
}

.title{
    font-size: 1.4em;
    font-family: calibri;
    color:white;
    margin-top: 15px;
    margin-bottom: 0px;
}

.li{
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    margin-bottom: 0.4em;
    background-color: rgb(209, 83, 83);
    border-radius: 4px;
    width:20em;
}
.name{
    margin-left: 6px;
    margin-top: 4px;
    color:white;
}
.divname{
    float:left
}
.divbuttons{
    margin-top: 4px;
    float: right;
}
.buttonsdel{
    border-radius: 10px;
    font-size: 0.7em;
    border-color: rgb(165, 40, 40);
    border-width: 1px;
    color:rgb(128, 15, 15);
    background-color: rgba(255, 255, 255, 0.945);
}
.buttonsed{
    border: none;
    background-color: transparent;
    outline: none;
    color:whitesmoke;
    font-size: 0.8em;
}
.buttonsdel:hover{
    cursor: pointer;
    background-color: rgb(245, 107, 171);
}
.buttonsed:hover{
    cursor: pointer;
    color: rgb(245, 107, 171);
}
.error{
    color:red;
    font-size: 0.85em;
    font-style: italic;
}
